.vs
ECommerce.Api/bin/
ECommerce.Api/obj/

ECommerce.Core/bin/
ECommerce.Core/obj/

ECommerce.Infrastructure/bin/
ECommerce.Infrastructure/obj/

ECommerce.Testing/bin/
ECommerce.Testing/obj/

ECommerce.Domain/bin/
ECommerce.Domain/obj/
